.grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid black;
}

.dashboard-card-content {
  overflow-y: scroll;
  width: 100%;
}

