<div>
    <h3>
        Update Time Of Death for {{data.raidBoss.name}}
    </h3>
    <h5>
        <b>NOTE : Please insert time of death in your locale time! NOT CET/KST!</b>
    </h5>
    <form [formGroup]="formGroup">
        <div>
            <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Pick TOD Date" [max]="maxDate" [min]="minDate" [formControl]="date" required #datePicker>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp color="warn"></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Hour</mat-label>
                    <input type="number" matInput placeholder="Hour" min="0" max="23" [formControl]="hour" required>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Minute</mat-label>
                    <input type="number" matInput placeholder="Minute" min="01" max="59" [formControl]="mins" required>
                </mat-form-field>
            </p>
        </div>
    </form>
    <div>
        <button mat-raised-button color="accent" (click)="updateTOD()" [disabled]="!formGroup.valid">Update TOD</button>
        <button mat-raised-button color="warn" (click)="handleCancel()" style="margin-left: 0.5em;">Cancel</button>
    </div>
    <div>
        <span><b>Page will auto refresh after 5 seconds</b></span>
    </div>
</div>