<div fxFlex fxLayout="column">
  <topbar [whichToPrint]="whichToPrint" [previusUrl]="previusUrl" [isSuperUser]="raidBosser"></topbar>
  <div fxFlex fxLayout="column">
    <mat-form-field [ngStyle]="{'padding':'0em 1em', 'width': '20%'}"
      [ngStyle.sm]="{'padding':'0em 1em', 'width': '30%'}" [ngStyle.xs]="{'padding':'0em 1em'}">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by name or level">
    </mat-form-field>
    <mat-table [dataSource]="actualDisplay" class="example-container mat-elevation-z8" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header color="primary"> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle.xs]="{'overflow':'auto', 'padding-left.em': 0.9}">
          {{element.name}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Level </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="windowStart">
        <mat-header-cell *matHeaderCellDef> Window Start </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div fxShow fxHide.xs="true" *ngIf="element.isAlive != 'AAUNKNOWN'">
            {{element.windowStarts | date: 'MMM d, y, HH:mm:ss'}} </div>
          <div fxHide fxShow.xs="true" *ngIf="element.isAlive != 'AAUNKNOWN'">
            {{element.windowStarts | date: 'MMM d,  HH:mm'}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="windowEnd">
        <mat-header-cell *matHeaderCellDef> Window End </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div fxShow fxHide.xs="true" *ngIf="element.isAlive != 'AAUNKNOWN'">
            {{element.windowEnds | date : 'MMM d, y, HH:mm:ss'}} </div>
          <div fxHide fxShow.xs="true" *ngIf="element.isAlive != 'AAUNKNOWN'">
            {{element.windowEnds | date : 'MMM d,  HH:mm'}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div fxHide fxShow.xs="true">
            <mat-icon *ngIf="element.isAlive === 'DEAD'" [matTooltip]="displayingView[element.isAlive]">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000"
                  d="M12,2A9,9 0 0,0 3,11C3,14.03 4.53,16.82 7,18.47V22H9V19H11V22H13V19H15V22H17V18.46C19.47,16.81 21,14 21,11A9,9 0 0,0 12,2M8,11A2,2 0 0,1 10,13A2,2 0 0,1 8,15A2,2 0 0,1 6,13A2,2 0 0,1 8,11M16,11A2,2 0 0,1 18,13A2,2 0 0,1 16,15A2,2 0 0,1 14,13A2,2 0 0,1 16,11M12,14L13.5,17H10.5L12,14Z" />
              </svg>
            </mat-icon>
            <mat-icon *ngIf="element.isAlive === 'AAUNKNOWN'" [matTooltip]="displayingView[element.isAlive]">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000"
                  d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z" />
              </svg>
            </mat-icon>
            <mat-icon *ngIf="element.isAlive === 'ALIVE'" [matTooltip]="displayingView[element.isAlive]">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFFFFF"
                  d="M16.5,5.5A2,2 0 0,0 18.5,3.5A2,2 0 0,0 16.5,1.5A2,2 0 0,0 14.5,3.5A2,2 0 0,0 16.5,5.5M12.9,19.4L13.9,15L16,17V23H18V15.5L15.9,13.5L16.5,10.5C17.89,12.09 19.89,13 22,13V11C20.24,11.03 18.6,10.11 17.7,8.6L16.7,7C16.34,6.4 15.7,6 15,6C14.7,6 14.5,6.1 14.2,6.1L9,8.3V13H11V9.6L12.8,8.9L11.2,17L6.3,16L5.9,18L12.9,19.4M4,9A1,1 0 0,1 3,8A1,1 0 0,1 4,7H7V9H4M5,5A1,1 0 0,1 4,4A1,1 0 0,1 5,3H10V5H5M3,13A1,1 0 0,1 2,12A1,1 0 0,1 3,11H7V13H3Z" />
              </svg>
            </mat-icon>
            <mat-icon *ngIf="element.isAlive === 'ONWINDOW'" [matTooltip]="displayingView[element.isAlive]">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M4,4H20V20H4V4M6,8V18H18V8H6Z" />
              </svg>
            </mat-icon>
          </div>
          <span fxShow fxHide.xs="true">
            {{displayingView[element.isAlive]}}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="more">
        <mat-header-cell *matHeaderCellDef>
          <div fxShow fxHide.sm="true" fxHide.xs="true" fxFlex fxLayoutAlign="flex-end">
            <button *ngIf="raidBosser" mat-raised-button color="accent" (click)="openRaidDialog()">
              <mat-icon>add</mat-icon>
              Add Raid Boss
            </button>
          </div>
          <div fxHide fxShow.sm="true" fxShow.xs="true" fxFlex fxLayoutAlign="center center">
            <button *ngIf="raidBosser" mat-mini-fab color="accent" (click)="openRaidDialog()"
              [matTooltip]="'Add Raid Boss'">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <div fxShow fxHide.sm="true" fxHide.xs="true">
            <button *ngIf="raidBosser" mat-raised-button color="accent"
              (click)="handleRowClick(element.raidBossId)">
              <mat-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000"
                    d="M21,10.12H14.22L16.96,7.3C14.23,4.6 9.81,4.5 7.08,7.2C4.35,9.91 4.35,14.28 7.08,17C9.81,19.7 14.23,19.7 16.96,17C18.32,15.65 19,14.08 19,12.1H21C21,14.08 20.12,16.65 18.36,18.39C14.85,21.87 9.15,21.87 5.64,18.39C2.14,14.92 2.11,9.28 5.62,5.81C9.13,2.34 14.76,2.34 18.27,5.81L21,3V10.12M12.5,8V12.25L16,14.33L15.28,15.54L11,13V8H12.5Z" />
                </svg>
              </mat-icon>Update TOD
            </button>
          </div>
          <div fxHide fxShow.sm="true" fxShow.xs="true" fxLayoutAlign="center center">
            <button *ngIf="raidBosser" mat-mini-fab color color="accent"
              (click)="handleRowClick(element.raidBossId)" [matTooltip]="'Update TOD'">
              <mat-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000"
                    d="M21,10.12H14.22L16.96,7.3C14.23,4.6 9.81,4.5 7.08,7.2C4.35,9.91 4.35,14.28 7.08,17C9.81,19.7 14.23,19.7 16.96,17C18.32,15.65 19,14.08 19,12.1H21C21,14.08 20.12,16.65 18.36,18.39C14.85,21.87 9.15,21.87 5.64,18.39C2.14,14.92 2.11,9.28 5.62,5.81C9.13,2.34 14.76,2.34 18.27,5.81L21,3V10.12M12.5,8V12.25L16,14.33L15.28,15.54L11,13V8H12.5Z" />
                </svg>
              </mat-icon>
            </button>
            <button [fxShow]="element.isAlive != 'AAUNKNOWN'" mat-mini-fab color *ngIf="raidBosser"
             color="accent" (click)="handleUnknowClick(element.raidBossId)" [matTooltip]="'Unknown TOD'">
             <mat-icon>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M3.05 13H1V11H3.05C3.5 6.83 6.83 3.5 11 3.05V1H13V3.05C17.17 3.5 20.5 6.83 20.95 11H23V13H20.95C20.5 17.17 17.17 20.5 13 20.95V23H11V20.95C6.83 20.5 3.5 17.17 3.05 13M12 5C8.13 5 5 8.13 5 12S8.13 19 12 19 19 15.87 19 12 15.87 5 12 5M11.13 17.25H12.88V15.5H11.13V17.25M12 6.75C10.07 6.75 8.5 8.32 8.5 10.25H10.25C10.25 9.28 11.03 8.5 12 8.5S13.75 9.28 13.75 10.25C13.75 12 11.13 11.78 11.13 14.63H12.88C12.88 12.66 15.5 12.44 15.5 10.25C15.5 8.32 13.93 6.75 12 6.75Z" />
                </svg>
             </mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unknown">
        <mat-header-cell *matHeaderCellDef fxShow fxHide.sm="true" fxHide.xs="true"></mat-header-cell>
        <mat-cell *matCellDef="let element" fxShow fxHide.sm="true" fxHide.xs="true">
          <div *ngIf="element.isAlive != 'AAUNKNOWN'">
            <button *ngIf="raidBosser" mat-raised-button color="accent"
              (click)="handleUnknowClick(element.raidBossId)">
              <mat-icon>
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                      <path fill="#000000" d="M3.05 13H1V11H3.05C3.5 6.83 6.83 3.5 11 3.05V1H13V3.05C17.17 3.5 20.5 6.83 20.95 11H23V13H20.95C20.5 17.17 17.17 20.5 13 20.95V23H11V20.95C6.83 20.5 3.5 17.17 3.05 13M12 5C8.13 5 5 8.13 5 12S8.13 19 12 19 19 15.87 19 12 15.87 5 12 5M11.13 17.25H12.88V15.5H11.13V17.25M12 6.75C10.07 6.75 8.5 8.32 8.5 10.25H10.25C10.25 9.28 11.03 8.5 12 8.5S13.75 9.28 13.75 10.25C13.75 12 11.13 11.78 11.13 14.63H12.88C12.88 12.66 15.5 12.44 15.5 10.25C15.5 8.32 13.93 6.75 12 6.75Z" />
                  </svg>
               </mat-icon>
              Unknown TOD
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="raidbosser ? displayedColumnsRaidBosser : displayedColumns"></mat-header-row>
      <mat-row [ngClass]="row.isAlive" *matRowDef="let row; columns: raidbosser ? displayedColumnsRaidBosser : displayedColumns;
      let i = index" 
      @routeSlideLeftToRightState (@routeSlideLeftToRightState.done)="onAnimationDone($event, i)"></mat-row>
    </mat-table>
  </div>