.red {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: black;
}

.green {
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: white;
}