.DEAD {

    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
    color: red;
}

.ALIVE {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: green;
}

.ONWINDOW {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: #ed6307;
}

.AAUNKNOWN {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    color: #423f42;
}


mat-cell {
    color: inherit;
    font-size: inherit;
}

.example-container {
    overflow: auto;
  }