<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div style="padding: 2%">
                <span><b>Raid Boss Tracker</b></span>
            </div>
            <div style="position:fixed;left: 80%">
                <button mat-stroked-button color="basic" (click)="openDIalog()">
            <mat-icon>add</mat-icon>
            Add a Raid Bosss
          </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'red': !element.isAlive , 'green' : element.isAlive}">
                    {{element.name}}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'red': !element.isAlive , 'green' : element.isAlive}"> {{element.level}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="timeOfDeath">
                <mat-header-cell *matHeaderCellDef> Time Of Death </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'red': !element.isAlive , 'green' : element.isAlive}"> {{element.classOfCharacter}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="windowStart">
                <mat-header-cell *matHeaderCellDef> Window Start </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'red': !element.isAlive , 'green' : element.isAlive}"> {{element.clanName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="windowEnd">
                <mat-header-cell *matHeaderCellDef> Window End </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="{'red': !element.isAlive , 'green' : element.isAlive}"> {{element.typeOfCharacter}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="more">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="handleRowClick(element.name)">Update TOD</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>