<div>
  <div style="text-align: center;padding: 0.5em;">
    <span>
      You are about to add <b>{{data.member.name}}</b> to <b>{{selectedValue}}</b> CP.
    </span>
  </div>
  <div style="text-align: center;padding: 0.5em;">
    <mat-form-field>
      <mat-label>Select CP</mat-label>
      <mat-select (selectionChange)="doSomething()" #matSelect>
        <mat-option *ngFor="let cp of cps" [value]="cp.cpName">
          {{cp.cpName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="text-align: center;padding: 0.5em;">
    <button mat-raised-button color="accent" (click)="addSingleUserToCP(data.member)">Add</button>
    <button mat-raised-button color="warn" (click)="handleCancel()">Cancel</button>
  </div>
  <span><b>Note:</b> Window will autorefresh after 5 seconds.</span>
</div>