<div fxFlex fxLayout="column">
  <topbar [whichToPrint]="whichToPrint" [cp]="cp" [cpLeader]="cpLeader" [isUserAleader]="isUserAleader"
    [previusUrl]="previusUrl" [cpId]="cpId"></topbar>
  <div fxFlex fxLayout="column">
    <mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef [ngStyle.xs]="{'padding-left.em': 0.9, 'place-content':'stretch center'}">
          Name </mat-header-cell>
        <mat-cell *matCellDef="let element2" [ngStyle.xs]="{'overflow':'auto'}"> {{element2.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef [ngStyle.xs]="{'place-content':'stretch center'}"> Level </mat-header-cell>
        <mat-cell *matCellDef="let element2"> {{element2.level}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="classOfCharacter">
        <mat-header-cell *matHeaderCellDef [ngStyle.xs]="{'place-content':'stretch flex-start'}"> Class
        </mat-header-cell>
        <mat-cell *matCellDef="let element2" [ngStyle.xs]="{'overflow':'auto', 'place-content':'stretch flex-start'}">
          {{element2.classOfCharacter}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="clanName">
        <mat-header-cell *matHeaderCellDef [ngStyle.xs]="{'place-content':'stretch flex-start'}"> Clan
        </mat-header-cell>
        <mat-cell *matCellDef="let element2"> {{element2.clanName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="More">
        <mat-header-cell *matHeaderCellDef [ngStyle.xs]="{'padding-right.px': 0}">
            <button fxShow fxHide.xs="true" [disabled]="!isUserAleader" mat-raised-button color="accent" (click)="openDialogMember()">
              <mat-icon>add</mat-icon>
              Add a member
            </button>
            <button fxHide fxShow.xs="true" [disabled]="!isUserAleader" mat-raised-button color="accent" (click)="openDialogMember()" [matTooltip]="'Add a member'">
              <mat-icon>add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element2" [ngStyle.xs]="{'padding-right.px': 0}">
          <button mat-raised-button color="warn" (click)="handleDelete(element2)" [matTooltip]="'Delete'" [disabled]="!isUserAleader">
            <mat-icon>
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFFFFF"
                  d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
              </svg>
            </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="responseData">
    <contastparty-epic-points [corePoints]="responseData.corePoints" [orfenPoints]="responseData.orfenPoints"  [aqPoints]="responseData.aqPoints" [cpId]="responseData.cpId"></contastparty-epic-points>
  </div>
  <div *ngIf="responseData">
    <app-cp-photos-show [cpId]="cpId"></app-cp-photos-show>
  </div>
</div>