<div>
  <div *ngIf="whichToPrint === 'MEMBER'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div style="position:relative; padding: 0 1em 0 0;left: 1%;">
          <span><b>User: </b>{{email}} </span>
        </div>
        <div style="position: relative; padding: 0 0.5em 0 0.5em;">
          <span><b> CP: </b>
            <a href="/cp/{{cpId}}"> {{cp}}</a>
          </span>
        </div>
        <div style="position:relative; padding: 0 0.1em 0 0.5em;">
          <span><b>Type Of User:</b> {{typeOfUser}} </span>
        </div>
        <div *ngIf="lengthOfChars != 0 && cpId != -1" style="margin-left: 2em;">
          <a [matBadge]="itemsOnSale" matBadgeOverlap="false" [matBadgeColor]="itemsOnSale == 0 ? 'warn' : 'accent'"
            matBadgePosition="after" href="/auction">Auction</a>
        </div>
        <div *ngIf="cpId != -1" style="position:sticky;margin-left: 2em;padding: 0 0.1em 0 0.5em">
          <a href="/raidboss">Raid Tracker</a>
        </div>
        <div style="position:sticky;left: 100%">
          <button mat-raised-button color="accent" (click)="openDialogCharacter()">
            <mat-icon>add</mat-icon>Add a character
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="whichToPrint === 'CP'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div style="position: relative;padding: 0 0.1em 0 0.5em;left: 1%">
          <a [href]="previusUrl" mat-button>
            <mat-icon>home</mat-icon>
          </a>
        </div>
        <div style="position:relative; padding: 0 0.5em 0 0.5em;left: 8%;">
          <span><b>CP:</b> {{cp}} </span>
        </div>
        <div style="position:relative; padding: 0 0.5em 0 0.5em;left: 20%;">
          <span><b>CP Leader:</b> {{cpLeader}} </span>
        </div>
        <div style="position: sticky;left:100%">
          <button [disabled]="!isUserAleader" mat-raised-button color="accent" (click)="openDialogMember()">
            <mat-icon>add</mat-icon>
            Add a member
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="whichToPrint === 'CLAN'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <a [href]="previusUrl" mat-button>
            <mat-icon>home</mat-icon>
          </a>
        </div>
        <div style="padding: 5%">
          <span><b>Clan List</b></span>
        </div>
        <div style="position: relative;left: 50%">
          <button mat-raised-button color="accent" (click)="openAddCPDialog()">
            <mat-icon>add</mat-icon>Add CP
          </button>
        </div>
        <div style="position: relative;left: 52%">
          <button mat-raised-button color="accent" (click)="openAddClanDialog()">
            <mat-icon>add</mat-icon>Add Clan
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="whichToPrint === 'RAIDS'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <a [href]="previusUrl" mat-button>
            <mat-icon>home</mat-icon>
          </a>
        </div>
        <div style="padding: 5%">
          <span><b>Raid Boss Tracker</b></span>
        </div>
        <div style="position: sticky;left: 55%">
          <button [disabled]="typeOfUser !== 'RAIDBOSSER' ||  !isUserAleader" mat-raised-button color="accent" (click)="openRaidDialog()">
            <mat-icon>add</mat-icon>
            Add Raid Bosss
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="whichToPrint === 'AUCTION'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
          <a [href]="previusUrl" mat-button>
            <mat-icon>home</mat-icon>
          </a>
        </div>
        <div style="padding: 5%">
          <span><b>Auction</b></span>
        </div>
        <div>
          <button [disabled]="!isSuperUser" mat-raised-button color="accent" (click)="addNewItem()">
            <mat-icon>add</mat-icon>Add Item
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
