.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0.3em;
}

a {
  color: white;
  text-decoration: underline;
}