<p *ngIf="data.button === 'simple'">
 Would like to bid for <b>{{data.item.name}}</b> the ammount of <b>{{(data.item.bidStep + data.item.currentValue) | number:'1.0-0'}}</b> adena??
</p>
<p *ngIf="data.button === 'buyNow'">
  Would like to buy the <b>{{data.item.name}}</b> for <b>{{data.item.maxPrice | number:'1.0-0'}}</b> adena??
 </p>
<div style="text-align: center;">
  <button mat-raised-button color="primary" style="margin-right: 0.5em;" (click)="BidForIt()">Yes</button>
  <button mat-raised-button color="warn" (click)="handleCancel()">No</button>
</div>
