<span style="font-style: oblique">Character Registration</span>
<div style="position:relative;width: 100%">
    <form [formGroup]="registerGroup">
        <div class="container">
            <div class="charNameInput">
                <mat-form-field appearance="outline">
                    <mat-label>Character's Name</mat-label>
                    <input matInput placeholder="Character's Name" required="true" [formControl]="charNameControl">
                    <mat-error *ngIf="charNameControl.hasError('required')">
                            <strong><i class="material-icons">error_outline</i>Field can not be empty</strong>
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="charlevelInput">
                <mat-form-field appearance="outline">
                    <mat-label>Character's Level</mat-label>
                    <input matInput placeholder="Character's Level" required="true" [formControl]="levelControl" type="number" min="1" max="85">
                    <mat-error *ngIf="levelControl.hasError('min')">
                        <strong><i class="material-icons">error_outline</i>Minimun level is 1</strong>
                    </mat-error>
                    <mat-error *ngIf="levelControl.hasError('max')">
                            <strong><i class="material-icons">error_outline</i>Maximun level is 85</strong>
                        </mat-error>
                    <mat-error *ngIf="levelControl.hasError('required')">
                            <strong><i class="material-icons">error_outline</i>Field can not be empty</strong>
                        </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="selections">
            <div class="clanSelection">
                <mat-form-field [formControl]="clanNameControl">
                    <mat-select placeholder="Select Clan" required="true" [(value)]="selectedClan" [formControl]="clanControl">
                        <mat-option *ngFor="let clan of clans" [value]="clan.value">
                            {{clan.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="clanControl.hasError('required')">
                            <strong><i class="material-icons">error_outline</i>Field can not be empty</strong>
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="classSelection">
                <mat-form-field>
                    <mat-select placeholder="Select Class" required="true" [(value)]="selectedClass" [formControl]="classControl">
                        <mat-option *ngFor="let clazz of classess" [value]="clazz.value">
                            {{clazz.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="classControl.hasError('required')">
                            <strong><i class="material-icons">error_outline</i>Field can not be empty</strong>
                        </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="selections">
            <div class="typeSelection">
                <mat-form-field>
                    <mat-select placeholder="Type Of Character" required="true" [(value)]="selectedType" [formControl]="typeControl">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="typeControl.hasError('required')">
                            <strong><i class="material-icons">error_outline</i>Field can not be empty</strong>
                        </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="addButton">
        <button mat-raised-button color="primary" [disabled]="!registerGroup.valid" (click)="registerCharacter()">Add Character</button>
    </div>
    <div class="addButton">
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    </div>
</div>