<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="itemId">
        <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.itemId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="photoPath">
        <mat-header-cell *matHeaderCellDef> Photo. </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img [src]="element.photoPath" /> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="typeOfItem">
        <mat-header-cell *matHeaderCellDef> Type Of Item </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.typeOfItem}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.grade}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price | number:'1.0-0'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stateOfItem">
        <mat-header-cell *matHeaderCellDef> State Of Item </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stateOfItem}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="whoBoughtIt">
        <mat-header-cell *matHeaderCellDef> Who Bought It </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.whoBoughtIt}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="boughtPrice">
        <mat-header-cell *matHeaderCellDef> Bought Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.boughtPrice | number:'1.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delivered">
        <mat-header-cell *matHeaderCellDef> is Delivered </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="element.delivered == false">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#FF0000" d="M20,14H4V10H20" />
        </svg>
      </span>
            <span *ngIf="element.delivered">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#008000" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
        </svg>
      </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="more">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"><button [disabled]="!isSuperUser || (element.delivered || (element.whoBoughtIt == null))" mat-stroked-button (click)="deliveryIt(element)">Delivery</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>