<topbar [previusUrl]="previusUrl" [whichToPrint]="whichToPrint" [isSuperUser]="isSuperUser"></topbar>
<div>
    <div style="padding: 3em;">
        <mat-accordion>
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>UnSold Items</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <un-sold-items></un-sold-items>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" (click)="handleOpenOrClose(panelOpenState)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Sold Items</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <sold-items [panelState]="subject"></sold-items>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>