<topbar [previusUrl]='previusUrl' [whichToPrint]='whichToPrint' [isSuperUser]='isSuperUser'></topbar>
<div *ngIf="isCpMember">
    <div [style]="{'padding.em': 3}" [style.xs]="{'padding.em': 0}">
        <mat-accordion>
            <mat-expansion-panel [expanded]="panelOpenStateUnSold" (opened)='handleOpenOrCloseUnSold(true)' (closed)='handleOpenOrCloseUnSold(false)'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>UnSold Items</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-un-sold-items [panelState]='panelOpenStateUnSold'  [isSuperUser]='isSuperUser'
                (@routeSlideUpToBottomState.done) = "animationDone($event)"></app-un-sold-items>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)='handleOpenOrCloseSold(true)' (closed)='handleOpenOrCloseSold(false)'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Sold Items</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-sold-items [panelState]='panelOpenStateSold' [isSuperUser]='isSuperUser'></app-sold-items>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>