<div style="display: inline-flex;">
  <mat-icon *ngIf="type === 'alert'">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#FFEB3B" d="M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16" />
    </svg>
  </mat-icon>
  <mat-icon *ngIf="type === 'success'">
  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#008000" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
  </svg>
</mat-icon>
  <span style="padding: 0.1em;">
    {{message}}
  </span>
</div>
