.example-card {
  max-width: 400px;
  border: 1px solid grey;
}


.example-form-field {
  width: 120px;
}

.big {
  display: inline-flex;
  padding: 0.5em;
}

.small {
  display: inline-grid;
  padding: 0.5em;
}
