<div fxShow fxHide.xs="true" style="display:inline-flex;padding: 0.5em;">
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Orfen</mat-card-title>
        <mat-card-subtitle>Points : {{orfenPoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add Orfen Points" [(ngModel)]="orfenPointsToAdd" type="number">
            <button mat-button *ngIf="orfenPointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="orfenPointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!orfenPointsToAdd || orfenPointsToAdd < 0" style="position: sticky;left: 100%;"
            mat-mini-fab color="primary" (click)="updatePoints('Orfen', orfenPointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/OrfenPhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Core</mat-card-title>
        <mat-card-subtitle>Points : {{corePoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add Core Points" [(ngModel)]="corePointsToAdd" type="number">
            <button mat-button *ngIf="corePointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="corePointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!corePointsToAdd || corePointsToAdd < 0" style="position: sticky;left: 100%;" mat-mini-fab
            color="primary" (click)="updatePoints('Core', corePointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/CorePhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Queen Ant</mat-card-title>
        <mat-card-subtitle>Points : {{aqPoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add QA Points" [(ngModel)]="aqPointsToAdd" type="number">
            <button mat-button *ngIf="aqPointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="aqPointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!aqPointsToAdd || aqPointsToAdd < 0" style="position: sticky;left: 100%;" mat-mini-fab
            color="primary" (click)="updatePoints('Queen Ant', aqPointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/AQPhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</div>
<div fxHide fxShow.xs="true" style="display:inline-grid;padding: 0.5em;">
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Orfen</mat-card-title>
        <mat-card-subtitle>Points : {{orfenPoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add Orfen Points" [(ngModel)]="orfenPointsToAdd" type="number">
            <button mat-button *ngIf="orfenPointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="orfenPointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!orfenPointsToAdd || orfenPointsToAdd < 0" style="position: sticky;left: 100%;"
            mat-mini-fab color="primary" (click)="updatePoints('Orfen', orfenPointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/OrfenPhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Core</mat-card-title>
        <mat-card-subtitle>Points : {{corePoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add Core Points" [(ngModel)]="corePointsToAdd" type="number">
            <button mat-button *ngIf="corePointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="corePointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!corePointsToAdd || corePointsToAdd < 0" style="position: sticky;left: 100%;" mat-mini-fab
            color="primary" (click)="updatePoints('Core', corePointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/CorePhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Queen Ant</mat-card-title>
        <mat-card-subtitle>Points : {{aqPoints}}</mat-card-subtitle>
        <div style="position: sticky;left: 100%;">
          <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Add QA Points" [(ngModel)]="aqPointsToAdd" type="number">
            <button mat-button *ngIf="aqPointsToAdd" matSuffix mat-icon-button aria-label="Clear"
              (click)="aqPointsToAdd=NaN">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button [disabled]="!aqPointsToAdd || aqPointsToAdd < 0" style="position: sticky;left: 100%;" mat-mini-fab
            color="primary" (click)="updatePoints('Queen Ant', aqPointsToAdd)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/AQPhoto.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</div>