<div fxShow fxHide.xs="true" style="display:inline-flex;padding: 0.5em;">
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Orfen</mat-card-title>
        <mat-card-subtitle>Points : {{orfenPoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/OrfenPhoto.jpg" alt="Orfen">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Core</mat-card-title>
        <mat-card-subtitle>Points : {{corePoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/CorePhoto.jpg" alt="Orfen">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Queen Ant</mat-card-title>
        <mat-card-subtitle>Points : {{aqPoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/AQPhoto.jpg" alt="Core">
    </mat-card>
  </div>
</div>
<div fxHide fxShow.xs="true" style="display:inline-grid;padding: 0.5em;">
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Orfen</mat-card-title>
        <mat-card-subtitle>Points : {{orfenPoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/OrfenPhoto.jpg" alt="Core">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Core</mat-card-title>
        <mat-card-subtitle>Points : {{corePoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/CorePhoto.jpg" alt="Queen Ant">
    </mat-card>
  </div>
  <div style="padding: 0.5em 0.3em 0em 0.3em;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Queen Ant</mat-card-title>
        <mat-card-subtitle>Points : {{aqPoints}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/EpicBossesPhoto/AQPhoto.jpg" alt="Queen Ant">
    </mat-card>
  </div>
</div>