<div style="position: fixed;">
  <div style="position:fixed;text-align:center; top: 2%;;width:100%">
    <span class="welcome">
      {{welcomeMessage}}
    </span>
  </div>
  <div class="container">
    <div class="login">
      <div>
          <span>
            Login
          </span>
      </div>
      <div style="margin-top:2%;">
          <login></login>
      </div>
   </div>
   <mat-divider [vertical]="true"></mat-divider>
    <div class="register">
      <div>
        <span>
          Register
        </span>
      </div>
      <div style="margin-top:2%;">
        <register></register>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>