<div class="container">
  <div class="list">
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of responseData" [value]=shoe.userId>
        <span *ngIf="shoe.chars.length >= 1">
          <b>Name</b> : {{shoe.chars[0].name}}
          <b>Level</b> : {{shoe.chars[0].level}}
          <b>Class</b> : {{shoe.chars[0].classOfCharacter}}
          <span fxShow fxHide.xs="true"><b>Clan</b> : {{shoe.chars[0].clanName}}</span>
        </span>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <span>
    <h3>
      You are about to add {{this.shoes.selectedOptions.selected.length}} new members in your CP.
    </h3>
  </span>
  <div class="button">
    <button mat-raised-button color="accent" (click)="addUsersToCp()">Add</button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
  </div>
</div>
