.container {
    top: 10%;
    width: 100%;
    position: fixed;
    align-content: stretch;
    display: flex;
}

.welcome {
    text-align: center;
    color: #636161;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.login {
    width: 50%;
    text-align: center;
    border-radius: 12px;
    padding: 1em;
}

.register {
    width: 50%;
    text-align: center;
    border-radius: 12px;
    padding: 1em;
}