<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" style="display: inline-grid">
      <ng-template matStepLabel>Verification Step</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" required type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Your main character" [formControl]="mainChar" required>
        <mat-hint>Main character for email above</mat-hint>
      </mat-form-field>
      <div>
        <button [disabled]="!firstFormGroup.valid" mat-button (click)="verification()">Verify</button>
      </div>
      <mat-error>{{notFoundMEssage}}</mat-error>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Change Password Step</ng-template>
      <mat-form-field>
        <input matInput placeholder=" New Password" minlength="8" [formControl]="password" required type="password">
        <mat-hint>8 letters minimum length</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button [disabled]="!secondFormGroup.valid" (click)="updatePassword()">Update Passowrd</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="dialogRef.close()">Close</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>