<table mat-table [(dataSource)]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{displayingView[column]}} </th>
        <td mat-cell *matCellDef="let element">
                <span *ngIf="column === 'maxPrice' || column === 'startingPrice'">
                        {{element[column] | number:'1.0-0'}} 
                    </span>
            <span *ngIf="column === 'numberOfDays'">
                {{element[column] | date : 'dd/MM/yyyy'}} 
            </span>
            <span *ngIf="column === 'photoPath'">
                    <img [src] ="element[column]">
                </span>
            <span *ngIf="column !== 'numberOfDays' && column !== 'maxPrice' && column !== 'startingPrice' && column !== 'photoPath'">
                {{element[column]}} 
            </span>
        </td>
        <!-- <td mat-cell *matCellDef="let element" *ngIf="column === 'numberOfDays'"> {{element[column] | date : 'dd/MM/yyyy hh:mm:ss' }} </td> -->
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [(attr.colspan)]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                    <span>{{element.bidStep | number:'1.0-0'}} <b>adena each bid step </b></span>
                    <button style="margin-left: 0.5em;" mat-stroked-button (click)="simpleBid(element)">Bid</button>
                    <button style="margin-left: 0.5em;" mat-stroked-button color="primary" (click)="maxBid(element)">Buy Now</button>
                    <span style="margin-left: 1em;display: inline-flex;"><h4>The Current Value is <i>{{element.currentValue | number:'1.0-0'}} </i>adena</h4></span>
                    <span style="margin-left: 1em;display: inline-flex;"><h4>The Last Bidder is <i>{{element.lastBidder}} </i></h4></span>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>