@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackBarAlert {
    background-color: #C4C15E;
    color: black;
}

.snackBarError {
    background-color: #FF6464;
    color: black;
}

.snackBarSuccess {
    background-color: lightgreen;
    color: black;
}

a {
    text-decoration: none;
}