@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackBarAlert {
  background-color: #C4C15E;
  color: black;
}

.snackBarError {
  background-color: #FF6464;
  color: black;
}

.snackBarSuccess {
  background-color: lightgreen;
  color: black;
}

a {
  text-decoration: none;
}

button {
  border-radius: 20em !important;
}

button.mat-menu-item {
  border-radius: 0 !important;
}

.mat-list-base .mat-list-item .mat-line {
  overflow: scroll !important;
  text-overflow: clip !important;
}

@media(max-width:600px){
    .mat-header-cell {
        place-content: stretch flex-start;
      }
}

.mat-header-cell {
  place-content: stretch center;
}

.mat-cell {
  place-content: stretch center;
  overflow: initial;
}

.mat-menu-content:not(:empty) {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
