@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-light-blue, A700);
$my-app-accent:  mat-palette($mat-green, 500);
$my-app-warn:    mat-palette($mat-red, A700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include mat-button-theme($my-app-theme);
@include mat-icon-theme($my-app-theme);
@include mat-badge-theme($my-app-theme);
@include mat-menu-theme($my-app-theme);
@include angular-material-theme($my-app-theme);