.material-icons {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 125%;
}

.container {
  width: 100%;
  position: relative;
  display: contents;
}

.passwordDiv {
  position: relative;
  top: 0.9em;
}

.repasswordDiv {
  position: relative;
  top: 3em;
}

.buttonDiv {
  position: relative;
  top: 1.9em;
}

.spinner {
  margin: 0 auto;
  position: relative;
}
