<div class="mat-elevation-z8" style="z-index: -1;">
  <div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="" matSort>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>
          <span fxShow fxHide.xs="true">{{displayingView[column]}}</span>
          <span fxHide fxShow.xs="true" *ngIf="column != 'userId' ">{{displayingView[column]}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="column === 'cpName'">
            {{element['responseConstantParty'].cpName}}
          </span>
          <span *ngIf="column === 'typeOfUser'">
            <span fxShow fxHide.xs="true">{{displayingView[element[column]]}}</span>
            <span fxHide fxShow.xs="true">
              <mat-icon>
                <i matListAvatar *ngIf="element[column] == 'CPMEMBER'" class="material-icons">account_box</i>
                <i matListAvatar *ngIf="element[column] == 'CPLEADER'" class="material-icons" class="fas fa-crown"></i>
                <i matListAvatar *ngIf="element[column] == 'RAIDBOSSER'" class="material-icons">
                  <img src="https://img.icons8.com/color/24/000000/approve-and-update.png">
                </i>
                <i matListAvatar *ngIf="element[column] == 'SUPERUSER'" class="material-icons">Hello</i>
              </mat-icon>
            </span>
          </span>
          <span fxShow fxHide.xs="true" *ngIf="column !== 'typeOfUser'">
            {{element[column]}}
          </span>
          <span fxHide fxShow.xs="true" *ngIf="column !== 'typeOfUser' && column !== 'userId'">
            {{element[column]}}
          </span>
          <span *ngIf="column === 'more'">
            <div>
              <button *ngIf="isSuperUser && element['responseConstantParty'].cpName === '' && element['chars'].length !== 0" 
                matTooltip="Add {{element['email']}} to CP"
                mat-icon-button (click)="addToCp(element['chars'][0])">
                <mat-icon matListIcon color="accent">add_circle</mat-icon>
              </button>
              <button *ngIf="isSuperUser && element['chars'].length !== 0" matTooltip="Change the role" mat-icon-button
                (click)="showInfo(element['chars'][0])">
                <mat-icon matListIcon color="primary">update</mat-icon>
              </button>
              <button *ngIf="isSuperUser && element['chars'].length === 0" mat-icon-button color="warn"
                matTooltip="Delete {{element['email']}}" (click)="handleDelete(element['userId'], element['email'])">
                <mat-icon>
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="red"
                      d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                  </svg>
                </mat-icon>
              </button>
              <button *ngIf="isSuperUser && element['responseConstantParty'].cpName !== '' && element['chars'].length !== 0"
                matTooltip="Remove {{element['email']}} from {{element['responseConstantParty'].cpName}}"
                mat-icon-button (click)="handleDeleteCpMember(element['chars'][0], element['responseConstantParty'].cpName)">
                <mat-icon matListIcon color="warn">remove_circle</mat-icon>
              </button>
            </div>
          </span>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <ul>
              <li *ngFor="let chars of element['chars']">
                <b>ID: </b>{{chars.characterId}},
                <b>Name: </b>{{chars.name}}
                <b>Level: </b>{{chars.level}}
                <b>Clan: </b>{{chars.clanName}},
                <b>Class: </b>{{chars.classOfCharacter}},
                <b>Type Of Character: </b>{{displayingView[chars.typeOfCharacter]}}
                <div *ngIf="isSuperUser" style="display: inline-flex">
                  <button matTooltip="Delete {{chars.name}}" mat-icon-button (click)="removeFromClan(chars)">
                    <mat-icon matListIcon color="warn">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="red"
                          d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                      </svg></mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <div class="footer">
      <mat-paginator fixed #paginator [length]="dataSource !== undefined ? dataSource.data.length : 0" [pageIndex]="0"
        [pageSize]="5" [pageSizeOptions]="[5]">
      </mat-paginator>
    </div>
  </div>
</div>
<div *ngIf="dataSource === undefined || actualData.length == 0">
  <mat-spinner style="margin:0 auto;z-index: 1;position: relative;" color="primary">
  </mat-spinner>
</div>